* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-image: url(bg.jpg);
}
.heading {
    font-size: 15px;
    text-align: center;
    padding: 20px 0px;
    color: white;
}
.foot {
    font-size: 15px;
    text-align: center;
    padding-top: 20px;
    color: white;
}
input {
    height: 13vh;
    font-size: 18px!important;
}
.clrbtn {
    width: 44%!important;
}
.btn {
    width: 20%;
    margin: 5px;
    padding: 1em 0px!important;
}
.border {
    border: 3px solid black!important;
}