body {
    background-image: url(bg.jpg);
}
.heading {
    font-size: 15px;
    text-align: center;
    padding: 20px 0px;
    color: white;
}
.foot {
    font-size: 15px;
    text-align: center;
    padding-top: 20px;
    color: white;
}
.calculator {
    width: 25%;
    border: 3px solid grey;
    margin: auto;
}
.textarea {
    margin: auto;
    width: 100%;
}
.calculator input {
    width: 99%;
    background-color: rgb(224, 224, 224);
    color: black;
    padding: 20px 0px;
    font-size: 18px;
}
.clrbtn {
    width: 44%;
    margin: 5px;
    padding: 1.2em 0px;
}
.extbtn {
    width: 20%;
    margin: 5px;
    padding: 1em 0px;
}
.btn {
    width: 20%;
    margin: 5px;
    padding: 1em 0px;
}